.animation{
    display: flex;
    justify-content: space-between;

    &__bloc{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: palevioletred;
        color: #fff;
        font-size: 3rem;
        animation: anim-entete 1s forwards;
    }
}

@keyframes anim-entete {
    0%{
        opacity: 0;
        
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}