$font__main :'Anton', sans-serif;
$font__titre : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$police__titre__principal:'Acme', sans-serif;
$police__titre__secondaire:'Poppins', sans-serif;
$police__titre__ternaire:'Roboto', sans-serif;
$police__paragraphe:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
