@mixin links(	$couleur, 
				$couleur--visited, 
				$couleur--hover)
{
	color: $couleur;

	&:visited {
		color: $couleur--visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $couleur--hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
/* -------------------------------------------------*/
@mixin links__menu(	$couleur, 
				$couleur--visited, 
				$couleur--hover,
				$background, 
				$background--visited, 
				$background--hover)
{
	color: $couleur;
	background-color: $background;

	&:visited {
		color: $couleur--visited;
		background-color: $background--visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $couleur--hover;
		background-color: $background--hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
/* -------------------------------------------------*/

a {
	@include links(	$color__link,
					$color__link-visited, 
					$color__link-hover )
}

 .site__footer a{
	@include links(	$color__link__footer,
					$color__link__footer-visited, 
					$color__link__footer-hover );
}

.header__titre a{
	@include links(	$color__link__header,
					$color__link__header-visited, 
					$color__link__header-hover );
}

.site__footer .menu-item a{
	@include links__menu(	$color__link__footer__menu,
						 	$color__link__footer__menu-visited, 
						 	$color__link__footer__menu-hover,
						 	$background__link__footer__menu,
					     	$background__link__footer__menu-visited, 
					     	$background__link__footer__menu-hover);
	
}

.menu-principal .menu-item a{
	@include links__menu(	$color__link__menu__principal,
						 	$color__link__menu__principal-visited, 
						 	$color__link__menu__principal-hover,
						 	$background__link__menu__principal,
					     	$background__link__menu__principal-visited, 
					     	$background__link__menu__principal-hover);
	
}

