.site__footer {
    font-family: $font__titre;
    background-color: $color__background-footer;
    padding: 15px;
  }
.footer__titre,
.footer__presentation,
.footer__author {
  color: $color__font-footer;
  text-align: center;
}