/*
Galerie gutenberg de la page d'acceuil
*/


.galerie{
  display: flex;
  justify-content: center;
    width: 95%;
    @media screen and (min-width : $largeur__media--mobile) {
      width: 80%;  
    }
    
}