.site__header {
  background-color: $color__background-header;
  color: $color__font-header;
  padding-left: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  //align-items: flex-end;

  @media screen and (min-width : $largeur__media--tablette){
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__titre{ // .site__header__titre
    display: flex;
    flex-direction: row;
    align-items: center;
      h1 { // .site__header__titre h1
        font-size: clamp(2rem, 3vw, 7rem);
        font-family: $font__titre;
      }
      h2 {
        font-size: clamp(1rem, 2vw, 4rem);
        font-family: $font__main;
        margin: 0 0 0 2rem;
      }
    }
    &__util{ //.site__header__util
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      @media screen and (min-width : $largeur__media--tablette){
        width: 23%;
      }
      }
  }


  

  .icone{
      &__lien{
        
        svg{
          
        }
      }
    }

.recherche{
  width: 100%;
  position: relative;
  

  &__input{
    width: 100%;
    height: 25px;
    outline: 0;
    border-radius: 5px;
    border: none;
    background: hsl(0, 100%, 91%);
    padding: 0 0 0 40px;
    margin: 0;
  }
  &__bouton{
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 24px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0; 
    padding: 0;
    margin: 0;
  }
}

