.menu-accueil-container, .menu-evenement-container,.menu-atelier-container {

  
    .menu{ // ul
        display: flex;
        justify-content: space-around;
        .accueil__cours .menu-item-icone{
            background-image: url("https://s2.svgbox.net/octicons.svg?ic=repo-forked-bold");
        }
        .accueil__prof .menu-item-icone{
            background-image: url("https://s2.svgbox.net/octicons.svg?ic=person-bold");
        }
        .accueil__aide .menu-item-icone{
            background-image: url("https://s2.svgbox.net/octicons.svg?ic=repo-bold");
        }
        .accueil__etudiant .menu-item-icone{
            background-image: url("https://s2.svgbox.net/octicons.svg?ic=rocket-bold");
        }
/* icone pour le menu atelir*/
        .accueil__htmlcss .menu-item-icone{
            background-image: url("https://s2.svgbox.net/files.svg?ic=css");
        }
        .accueil__css .menu-item-icone{
            background-image: url("https://s2.svgbox.net/files.svg?ic=reactjs");
        }
        .accueil__react .menu-item-icone{
            background-image: url("https://s2.svgbox.net/files.svg?ic=html");
        }
        .accueil__git .menu-item-icone{
            background-image: url("https://s2.svgbox.net/files.svg?ic=git");
        }
        .menu-item{ // li
           // background-color: red  !important;
                width: 20%;
                padding: 10px;
                height: 250px;
                border: black;
                border-radius: 5%;
               
            a{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                font-size: 1.5rem;
                height: 100%;
                hr{
                    width: 90%;
                }
                .menu-item-description{ // span
                    font-size: 1rem;
                }
                .menu-item-icone{ //div
                    width: 3rem;
                    height: 3rem;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    margin-top: auto;
                   
                }
            }
            &:hover{
                transform: scale(1.2);
                a{
                    
                }
            }

        }
    }
} //.menu-accueil-container

.menu-accueil-container {
    .menu-item {
        //background-color: $color__bouton__background;
        background-color: rgb(56, 56, 56);
        
        a{
            //color : $color__bouton__color;
            color : rgb(199, 199, 199);

        }
    &:hover{
        //background-color: $color__bouton__background--hover;
        background-color: rgb(53, 53, 53);
        a{
            //color : $color__bouton__color--hover;
            color : rgb(238, 238, 238);
        }
    }    
    }
}

.menu-evenement-container{

    .menu-item{
        background-color: $couleur__carte__evenement__background;
        a{
            background-color: $couleur__carte__evenement;
        }
        &:hover{
            background-color: $couleur__carte__evenement__background--hover;
            a{
                background-color: $couleur__carte__evenement--hover;
            }
        }
    }
    
}

.menu-atelier-container{

    .menu-item{
        background-color: $couleur__carte__atelier__background;
        a{
            background-color: $couleur__carte__atelier;
        }
        &:hover{
            background-color: $couleur__carte__atelier__background--hover;
            a{
                background-color: $couleur__carte__atelier--hover;
            }
        }
    }
    
}